.formContainer {
    width: auto;
    height: auto;
    border-bottom: 1px solid #000000;
    padding-top: 50px;

    .searchTitle {
        font-weight: 100;
        text-align: center;
    }

    .inputContainer {
        display: grid;

        
    }
}