.formContainer {
  width: auto;
  height: auto;
  border-bottom: 1px solid #B0B1B3;
  padding: 80px 15% 0 15%;
  color: #4C5050;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formContainer .searchTitle {
  font-weight: 100;
  text-align: center;
  padding-bottom: 40px;
  margin: 0;
}

.formContainer .inputContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 120px;
  justify-items: center;
}

.formContainer .inputContainer .formUIContainer {
  height: auto;
  width: 100%;
}

.formContainer .inputContainer .formUIContainer .formUI {
  display: block;
  border: 1px solid #000000;
  height: 40px;
  width: 100%;
  border-radius: 0px;
  font-size: 1rem;
  padding: 0 15px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formContainer .inputContainer .formUIContainer label {
  padding-bottom: 5px;
  font-size: .6rem;
}

.formContainer .inputContainer .formUIContainer .starsInputError {
  font-size: .7rem;
  color: red;
}

.formContainer .inputContainer .formUIContainer .noError {
  display: none;
}

.formContainer .inputContainer .formUIContainer .licenseInput {
  background-color: #ffffff;
  -webkit-appearance: none;
  padding-right: 50px;
  background-image: linear-gradient(45deg, transparent 50%, #808080 50%), linear-gradient(135deg, #808080 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.formContainer .inputContainer .formUIContainer .licenseInput:hover {
  cursor: pointer;
}

.formContainer .inputContainer .forkedCheckbox {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 5px;
}

.formContainer .searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 60px 0;
}

.formContainer .searchContainer .search {
  margin: 0 auto;
  background: #427BBB;
  color: #ffffff;
  height: 40px;
  padding: 0 30px 0 30px;
  font-size: .6rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
}

.formContainer .searchContainer .search:hover {
  cursor: pointer;
}

.formContainer .searchContainer .search:disabled {
  cursor: not-allowed;
  background: #ccc;
}

@media only screen and (max-width: 990px) {
  .formContainer {
    padding: 80px 5% 0 5%;
  }
  .formContainer .inputContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}
