.formContainer {
    width: auto;
    height: auto;
    border-bottom: 1px solid #B0B1B3;
    padding: 80px 15% 0 15%;
    color: #4C5050;
    box-sizing: border-box;

    .searchTitle {
        font-weight: 100;
        text-align: center;
        padding-bottom: 40px;
        margin: 0;
    }

    .inputContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 120px;
        justify-items: center;

        .formUIContainer {
            height: auto;
            width: 100%;

            .formUI {
                display: block;
                border: 1px solid #000000;
                height: 40px;
                width: 100%;
                -webkit-border-radius: 0px;
                border-radius: 0px;
                font-size: 1rem;
                padding: 0 15px 0 15px;
                box-sizing: border-box;
            }

            label {
                padding-bottom: 5px;
                font-size: .6rem;
            }

            .starsInputError {
                font-size: .7rem;
                color: red;
            }

            .noError {
                display: none;
            }
    
            .licenseInput {
                background-color: #ffffff;
                -webkit-appearance: none;
                padding-right: 50px;

                // render caret
                background-image:
                    linear-gradient(45deg, transparent 50%, #808080 50%),
                    linear-gradient(135deg, #808080 50%, transparent 50%),
                    linear-gradient(to right, #ccc, #ccc);
                background-position:
                    calc(100% - 20px) calc(1em + 2px),
                    calc(100% - 15px) calc(1em + 2px),
                    calc(100% - 2.5em) 0.5em;
                background-size:
                    5px 5px,
                    5px 5px,
                    1px 1.5em;
                background-repeat: no-repeat;
                
                &:hover {
                    cursor: pointer;
                }
            }
    
        }

        .forkedCheckbox {
            justify-self: start;
            align-self: end;
            margin-bottom: 5px;
        }  
    }


    .searchContainer {
        display: flex;
        padding: 60px 0 60px 0;

        .search {
            margin: 0 auto;
            background: #427BBB;
            color: #ffffff;
            height: 40px;
            padding: 0 30px 0 30px;
            font-size: .6rem;
            border-radius: 5px;
            user-select: none;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                cursor: not-allowed;
                background: #ccc;
            }
        }
    }

}

@media only screen and (max-width: 990px) {
    .formContainer {
        padding: 80px 5% 0 5%;

        .inputContainer {
            grid-template-columns: 1fr;
            grid-row-gap: 10px;
        }
    }
}